<div class="container">
  {{#each fligth}}
  <div class="card reservation text-center my-4">
    <div class="card-header">
      Fligth Id: #FA{{flight_id}}
    </div>
    <div class="card-body">
      <h3 class="card-title">Status: {{flight_status}} </h3>
      <p class="card-text"> DEPARTS: {{depart_time}}</p>
      <p class="card-text"> AIRPORT: {{depart_airport}} {{depart_place}}</p>
      <br>
      <p class="card-text"> ARRIVES: {{arrival_time}}</p>
      <p class="card-text"> AIRPORT: {{arrival_airport}} {{arrive_place}}</p>
    </div>
    <div class="card-footer text-muted">
      If you have any questions about your refund request, email us at info@flyaway.com or contact our call center.​​
    </div>
  </div>
  {{/each}}

</div>